a{
  color: #035BD4;
}
p{
  letter-spacing: 0;
}
.header-transparent{
  background-color: #fff;
}
.menus{
  text-align: right;
  line-height: 80px;
}
.xs-banner{
  min-height: 560px;
  color: #fff;
}
.xs-sub-banner{
  min-height: 320px;
}
.xs-banner.banner-v2{
  background: linear-gradient(45deg, #1B1F3A 35%, #0B1026 100%);
}
.btn-outline-primary{
  border-color: rgba(255, 255, 255, .3);
}
.btn-outline-primary:hover::before{
  background-color: rgba(255, 255, 255, .1);
}
.btn-outline-primary:hover{
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}
.banner-title{
  font-size: 2.58rem;
}
.banner-title span{
  color: #86C401;
}
.subtitle{
  font-size: 1.05rem;
  font-weight: 400;
  color: rgba(255, 255, 255, .65);
}
.xs-bg-dark{
  background-color: #0C112A;
  padding: 50px 0;
}
.xs-bg-dark h2.content-title{
  color: #fff;
}
.xs-single-pricing{
  height: 300px;
}
.xs-single-pricing .pricing-img-block{
  margin-left: 0;
}
.xs-header .xs-logo{
  padding: 10px 0;
}
.menus{
  padding: 10px 0;
  line-height: 52px;
}
.header-transparent .xs-header{
  border-bottom: none;
}
.btn-bytom-primary, .btn-bytom-success{
  border-radius: 0 !important;
  padding: 10px 0;
  width: 138px;
  box-sizing: border-box;
  color: #fff;
}
.btn-bytom-primary{
  border: 2px solid #035BD4 !important;
  
}
.btn-bytom-success{
  border: 2px solid #91D303 !important;
}
.xs-section-padding{
  padding: 80px 0;
}
.heading-title{
  font-size: 1.88235rem !important;
}
.xs-heading{
  margin-bottom: 60px;
}
.xs-title a{
  font-size: 1.025rem;
  color: #1F2021;
}
.xs-service-block>p{
  font-size: 13px;
  text-align: left;
  color: #808A95;
}
.xs-service-block{
  padding: 0 20px;
}
.xs-bg-gray{
  background-color: #F8F8F8;
}
.xs-title.small, h4.small{
  font-size: 1.411rem;
}
.media-body>p{
  color: #808A95;
  line-height: 1.65rem;
  font-size: 0.82352rem;
  padding-right: 80px;
}
.media-body>a{
  font-size: 0.82352rem;
  padding-top: 12px;
}
.hosting-info-wraper-2>p{
  color: #1F2021;
  font-size: 0.88rem;
  margin-bottom: 32px;
}
.hosting-info-wraper .xs-list li{
  color: #808A95;
  font-size: 0.82352rem;
  line-height: 1.65rem;
  font-weight: 400;
}
.bytom-blockcenter{
  background: url(../images/background.png) center / cover no-repeat;
}
.xs-banner.banner-v2{
  background: url(../images/background.png) center / cover no-repeat;
}

.hosting-info-img>img{
  height: auto;
  width: 570px;
}
.xs-bg-dark h2.content-title{
  color: #006BFF;
  font-size: 1.88235rem;
  margin-bottom: 3.8235rem;
}
.hosting-info-wraper p{
  color: #808A95;
  font-size: 0.882352rem;
  line-height: 1.6435rem;
}
.xs-blog-post .entry-title{
  color: #1F2021;
  font-size: 1.0588rem;
  font-weight: 500;
}
.xs-blog-post .entry-meta{
  font-size: 0.7647rem;
  line-height: 24px;
  font-weight: 400;
  color: #808A95;
}
.xs-blog-post .entry-header{
  padding: 16px 0;
  height: 160px;
  box-shadow: 0px 0px 24px rgba(128,138,149,0.08);
}
.footer-group{
  height: 320px;
  background-color: #182048;
}
.footer-copyright{
  height: 60px;
  line-height: 60px;
  padding: 0;
  min-height: 60px;
  text-align: center;
  font-size: 14px;
  background-color: #0E122F;
  color: rgba(255, 255, 255, .3);
}
.xs-feature-group{
  padding: 44px 40px 5px 40px;
}
.xs-feature-group img{
  width: 50px;
  height: 50px;
}
.xs-feature-group .feature-img{
  min-width: 50px;
  margin-right: 30px;
}
.feature-v2 .xs-feature-group .xs-title{
  color: #1F2021;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}
.feature-v2 .xs-feature-group .feature-content p{
  color: #808A95;
  font-size: 13px;
  font-weight: 400;
}
.xs-banner.banner-v2 .text-right>p{
  color: rgba(255, 255, 255, .65);
}
.hosting-info-wraper-2 .content-title{
  margin-bottom: 40px;
}
.xs-single-pricing{
  height: 380px;
  padding-top: 20px;
}
.pricing-body > p{
  color: #808A95;
  font-size: 13px;
  line-height: 26px;
  margin-bottom: 30px;
  text-align: left;
}
.xs-single-pricing .pricing-header .xs-title{
  margin: 25px 0 35px;
  font-size: 20px;
}



.section-vapor-dpos .hosting-info-wraper-2 .content-title{
  margin-bottom: 40px !important;
}
.section-vapor-dpos .des {
  color: #808A95;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 20px;
}
.section-vapor-dpos .media-body>p{
  padding-right: 20px;
}
.section-vapor-dpos {}
.section-vapor-dpos {}


.blockcenter .media-body>p{
  font-size: 15px;
  padding-right: 85px;
}
.blockcenter .tool{
  width: 100%;
  box-sizing: border-box;
  height: 218px;
  padding: 40px;
  background: #FCFCFC url(../images/blockcenter/background@2x.png) center / 100% no-repeat;
  margin-bottom: 80px;
}
.blockcenter .tool h2{
  color: #fff;
  font-size: 32px;
  line-height: 1em;
  margin-bottom: 16px;
  font-weight: 600;
}
.blockcenter .tool p{
  color: rgba(255, 255, 255, .9);
  font-size: 14px;
  line-height: 28px;
  width: 500px;
  font-weight: 400;
}
.blockcenter .des{
  color: #808A95;
  font-size: 14px;
  line-height: 28px;
  padding-top: 18px;
}

.xs-service-block .service-img{
  text-align: center
}
.xs-service-block .service-img img{
  width: 96px;
  height: 96px;
}
.hosting-info-list .info-icon img{
  width: 43px;
  height: 38px;
}
footer .xs-feature-group .feature-img img{
  display: none;
}
footer .col-lg-6:first-child .feature-img{
  width: 50px;
  height: 50px;
  background: url(../images/home/icon-email@2x.png) center / 50px 50px no-repeat;
}
footer .col-lg-6:last-child .feature-img{
  width: 50px;
  height: 50px;
  background: url(../images/home/icon-homepage@2x.png) center / 50px 50px no-repeat;
}
.xs-logo-wraper{
  margin-top: 9px;
}

.menus{
  color: #808A95;
  font-size: 14px;
  float: right;
  cursor: pointer;
}
.home-section .xs-service-block{
  padding: 0 15px;
}

.xs-single-pricing .pricing-img-block{
  display: none;
}

.logo-mobile-wraper{
  display: none;
}
@media (max-width: 640px) {
  .logo-mobile-wraper{
    display: block;
    float: left;
    width: 120px;
    height: 100%;
  }
  .xs-header .xs-logo{
    display: block;
    padding-top: 20px;
  }
  .blockcenter .tool{
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .blockcenter .tool p{
    width: 100%;
  }
}

.logo-mobile-wraper img, .logo-mobile-wraper a{
  width: 120px;
  display: block;
}
.bystack-framework .media-body>p{
  padding-right: 0;
}


/* delete */
.vapor .service-img{
  display: none;
}